/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Lora', serif;*/
}

html {
	scroll-behavior: smooth;
}

hr {
	background-color: #C0392B;
	height: 3px;
}

/* start navbar */
#company-logo {
	width: 150px;
}

.nav-item .nav-link {
	margin: 0px 10px;
	color: #f2f2f2;
}

.nav-item .nav-link:hover {
	transition: .2s;
	background-color: #f2f2f2;
	color: #333;
	border-radius: 5px;
}

.navbar {
	height: 80px;
	background-color: #333;
	background-color: rgba(0,0,0,.5);
}
/* end navbar */

/* start carousel */
#home .carousel,
#home .carousel img {
	height: 100vh;
}
.carousel-vp {
	position: absolute;
	bottom: 20px;
}
.carousel-vp > h1 {
	color: #333;
	font-size: 50px;
	font-weight: bold;
}
.carousel-vp > p {
	font-size: 25px;
	color: #424949;
}
.carousel-vp a {
	padding: 10px 20px;
	border: 2px solid #C0392B;
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.carousel-vp > a:hover {
	background-color: #333;
	color: #f2f2f2;
}


.carousel-pe {
	position: absolute;
	top: 200px;
	left: -400px;
}
.carousel-pe > h1 {
	color: #f2f2f2;
	font-size: 45px;
}
.carousel-pe > p {
	font-size: 20px;
	color: #f1f1f1;
}
.carousel-pe a {
	padding: 10px 20px;
	border: 2px solid #C0392B;
	font-size: 20px;
	color: #f2f2f2;
	font-weight: bold;
}
.carousel-pe > a:hover {
	background-color: #f2f2f2;
	color: #333;
}


.carousel-tc {
	position: absolute;
	bottom: 200px;
	right: -450px;
}
.carousel-tc > p {
	font-size: 20px;
	color: #f1f1f1;
}
.carousel-tc a {
	padding: 10px 20px;
	border: 2px solid #C0392B;
	font-size: 20px;
	color: #f2f2f2;
	font-weight: bold;
}
.carousel-tc > a:hover {
	background-color: #f2f2f2;
	color: #333;
}
/* end carousel */

/* start image connect */
.img-connect {
	background-image: url(../images/connect.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}
.img-connect > #light {
	text-align: center;
	font-size: 30px;
	color: #333;
}
.img-connect > #dark {
	text-align: center;
	font-size: 30px;
	color: #f2f2f2;
}
/* end image connect */


/* start about */
.p-about {
	height: 35vh;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 3px 3px;
}
.p-about:hover {
	border-color: #C0392B;
	background-color: #333;
	background-color: rgba(0,0,0,.5);
	transition: .2s;
}
/* end about */


/* start services */
.services-circles {
	height: 15vh
}
.services-circles > img {
	height: 20vh;
	margin: 0 30px;
}
.services-circles > img:hover {
	transform: scale(1.5);
	transition: .2s;
}
.p-services {
	height: 20vh;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 3px 3px;
}
.p-services:hover {
	border-color: #C0392B;
	background-color: #333;
	background-color: rgba(0,0,0,.5);
	transition: .2s;
}
/* end services */


/* start products */
.industrial-img {
	height: 100vh;
	box-shadow: 20px 20px;
}

.p-products {
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 3px 3px;
}
.p-products:hover {
	border-color: #C0392B;
	background-color: #333;
	background-color: rgba(0,0,0,.5);
	transition: .2s;
}
.product-image {
	width: 100%;
	height: 50vh;
	box-shadow: 10px 10px;
}
.product-image:hover {
	/*background-color: #C0392B;*/
	filter: grayscale(50);
	border: 2px solid #C0392B;
}
/* end products */


/* start contact */
.p-link {
	color: rgb(0,0,0,.5);
}
.link {
	color: #333;
}
.fas,
.far,
.fab {
	padding: 10px;
	border-radius: 20%;
	background-color: #333;
	color: #f2f2f2;
}

.fas:hover {
	background-color: #C0392B;
}
.far:hover {
	background-color: #C0392B;
}
.fab:hover {
	background-color: #C0392B;
}
/* end contact */


/* start footer */
.footer img {
	height: 50px
}

#footer-logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
}
/* end footer */


/* START CREDENTIALS */
#credentials-header {
	position: relative;
	background-image: url(../images/landing-credentials.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 90vh;
	border-radius: 0;
}
#landing-credentials {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100%;
	color: #111;
	font-size: 50px;
}
.credentials-circles {
	height: 15vh
}
.credentials-circles > img {
	height: 20vh;
	margin: 0 30px;
}
.credentials-circles > img:hover {
	transform: scale(1.5);
	transition: .2s;
}
.alert {
	font-weight: bold;
	border: 1px solid #333;
}
.alert:hover {
	background-color: #C0392B;
	color: #f2f2f2;
}
.circle-sec:hover .alert-sec {
	background-color: #C0392B;
	color: #f2f2f2;
}
.card-img-top {
	height: 60vh;
	border: 2px solid #C0392B;
	box-shadow: 10px 10px;
}
.card-img-top:hover {
	filter: blur(9px);
}

/* END CREDENTIALS */



/* START CONTACT HTML */
#contact-header {
	position: relative;
	background-image: url(../images/landing-contact.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 90vh;
	border-radius: 0;
}

#landing-contact {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100%;
	color: #111;
	font-size: 50px;
}
.contact-email {
	color: rgba(0,0,0,.5);
}
.contact-ll,
.contact-mb {
	color: rgba(0,0,0,.3);
}

.contact-form {
	border: 2px solid #C0392B;
	box-shadow: 5px 5px #333;
	border-radius: 10px;
}
.gmap {
	border: 2px solid #C0392B;
	box-shadow: 5px 5px #333;
	border-radius: 10px;
	width: 80%;
	height: 60vh;
}
.contact-submit {
	border: 2px solid #333;
}
.contact-submit:hover {
	border: 2px solid #C0392B;
	background-color: #C0392B;
	color: #f2f2f2;
	transition: .2s;
}
#lost {
	text-align: center;
	height: 50vh;
}
/* END CONTACT HTML */



/* MEDIA QUERIES */


/* IPAD */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.container {
		width: 100%;
	}
	.carousel-pe {
		position: absolute;
		top: 68%;
		left: 15%;
		text-align: center;
	}
	.carousel-tc {
		position: absolute;
		bottom: 2%;
		right: 15%;
	}
	.p-about {
		height: 22vh;
	}
	.p-services {
		height: 12vh;
	}
	.resi {
		padding-top: 30px;
	}
	
	#contact-header {
		height: 93vh;
	}
	.contact-top {
		text-align: center;
	}
	.contact-map {
		text-align: center;
	}
	#lost {
		height: 20vh;
		text-align: center;
	}
	#credentials-header {
		height: 93vh;
	}
	.card-img-top {
		height: 50vh;
	}
}

/* PIXEL */
@media only screen and (max-width: 400px) {

}