/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Lora', serif;*/
}

html {
	scroll-behavior: smooth;
}

hr {
	background-color: #C0392B;
	height: 3px;
}

/* start navbar */
#company-logo {
	width: 180px;
}

.nav-item .nav-link {
	margin: 0px 10px;
	color: #f2f2f2;
}

.nav-item .nav-link:hover {
	transition: .2s;
	background-color: #f2f2f2;
	color: #333;
	border-radius: 5px;
}

.navbar {
	/*position: fixed;*/
	height: 80px;
	background-color: #333;
	background-color: rgba(0,0,0,.5);
}
/* end navbar */

/* start carousel */
#home .carousel,
#home .carousel img {
	height: 100vh;
}
.carousel-vp {
	position: absolute;
	bottom: 20px;
}
.carousel-vp > h1 {
	color: #333;
	font-size: 50px;
	font-weight: bold;
}
.carousel-vp > p {
	font-size: 25px;
	color: #424949;
}
.carousel-vp a {
	padding: 10px 20px;
	border: 2px solid #C0392B;
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.carousel-vp > a:hover {
	background-color: #333;
	color: #f2f2f2;
}


.carousel-pe {
	position: absolute;
	top: 200px;
	left: -400px;
}
.carousel-pe > h1 {
	color: #f2f2f2;
	font-size: 45px;
}
.carousel-pe > p {
	font-size: 20px;
	color: #f1f1f1;
}
.carousel-pe a {
	padding: 10px 20px;
	border: 2px solid #C0392B;
	font-size: 20px;
	color: #f2f2f2;
	font-weight: bold;
}
.carousel-pe > a:hover {
	background-color: #f2f2f2;
	color: #333;
}


.carousel-tc {
	position: absolute;
	bottom: 200px;
	right: -450px;
}
.carousel-tc > p {
	font-size: 20px;
	color: #f1f1f1;
}
.carousel-tc a {
	padding: 10px 20px;
	border: 2px solid #C0392B;
	font-size: 20px;
	color: #f2f2f2;
	font-weight: bold;
}
.carousel-tc > a:hover {
	background-color: #f2f2f2;
	color: #333;
}
/* end carousel */

/* start image connect */
.img-connect {
	background-image: url(../images/connect.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}
.img-connect > #light {
	text-align: center;
	font-size: 30px;
	color: #333;
}
.img-connect > #dark {
	text-align: center;
	font-size: 30px;
	color: #f2f2f2;
}
/* end image connect */


/* start about */
.p-about {
	height: 50vh;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 3px 3px;
}
.p-about:hover {
	border-color: #C0392B;
	background-color: #333;
	background-color: rgba(0,0,0,.5);
	transition: .2s;
}
/* end about */


/* start services */
.services-circles {
	background-color: #333;
	height: 20vh
}
.services-circles > img {
	height: 20vh;
	margin: 0 30px;
}
.services-circles > img:hover {
	transform: scale(1.5);
}
.p-services {
	height: 40vh;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 3px 3px;
}
.p-services:hover {
	border-color: #C0392B;
	background-color: #333;
	background-color: rgba(0,0,0,.5);
	transition: .2s;
}
/* end services */


/* start products */
.p-products {
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 3px 3px;
}
.p-products:hover {
	border-color: #C0392B;
	background-color: #333;
	background-color: rgba(0,0,0,.5);
	transition: .2s;
}
.product-image {
	width: 100%;
	height: 50vh;
	box-shadow: 2px 2px;
}
.product-image:hover {
	/*background-color: #C0392B;*/
	border: 2px solid #C0392B;
	filter: saturate(9);
}
/* end products */


/* start contact */
.p-link {
	color: rgb(0,0,0,.5);
}
.link {
	color: #333;
}
.fas,
.far,
.fab {
	padding: 10px;
	border-radius: 20%;
	background-color: #333;
	color: #f2f2f2;
}

.fas:hover {
	background-color: #C0392B;
}
.far:hover {
	background-color: #C0392B;
}
.fab:hover {
	background-color: #C0392B;
}
/* end contact */


/* start footer */
.footer img {
	height: 50px
}

#footer-logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
}
/* end footer */


/* START CREDENTIALS */

/* END CREDENTIALS */



/* START CONTACT HTML */
#contact-header {
	position: relative;
	background-image: url(../images/landing-contact.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 90vh;
	border-radius: 0;
}

#landing-contact {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100%;
	color: #111;
	font-size: 50px;
}
.contact-form {
	border: 2px solid #C0392B;
	box-shadow: 2px 2px;
	border-radius: 10px;
}
.gmap {
	border: 2px solid #C0392B;
	box-shadow: 2px 2px;
	border-radius: 2px;
	width: 65%;
	height: 50vh;
}
.contact-submit {
	border: 2px solid #333;
}
.contact-submit:hover {
	border: 2px solid #C0392B;
	background-color: #C0392B;
	color: #f2f2f2;
	transition: .2s;
}
/* END CONTACT HTML */